{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
  	  <div id="iframe">
		  <canvas id="canvas" width="1200px" height="600px" style = "background-color:white;"></canvas>
		  <input type="submit" value="Clear Canvas" id="clearbutton" onclick="clearCanvas();">
		  <input type="submit" value="Submit Your Sketch!" id="clearbutton" onclick="PredictCanvas();">
		  <span id = "resultspan"></span>
	  </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
<script src="../static/js/index.js"></script>

{% endblock %}
