<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sketch Recognition!</title>
  <link rel="stylesheet" href="css/style.css">  
  <script src='./js/jquery.min.js'></script>
  <script  src="./js/index.js"></script>
</head>

<body>

  <div id="iframe">
	  <canvas id="canvas" width="507px" height="657px"></canvas>
	  <input type="submit" value="Clear Canvas" id="clearbutton" onclick="clearCanvas();">
	  <input type="submit" value="Submit Your Sketch!" id="clearbutton" onclick="PredictCanvas();">
  </div>

</body>

</html>
